.container {
  display: flex;
  height: 100vh;
  /* Full height */
}

.banner {
  flex: 1;
  /* Take 1 part of the available width */
  padding: 20px;
  background-color: #f9f9f9;
  /* Adjust as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginSection {
  flex: 1;
  /* Take another part of the available width */
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tabs {
  display: flex;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background: none;
  margin-right: 10px;
  color: #007bff;
  /* Tab text color */
  font-weight: bold;
  /* Make text bold */
  font-size: 18px;
  /* Increase font size */
}

.active {
  border-bottom: 2px solid #007bff;
  /* Underline color for active tab */
  color: #007bff;
  /* Active tab color */
}

.inputField {
  width: 50%;
  /* Full width for shorter fields */
  margin-bottom: 10px;
  padding: 10px;
  /* Increase padding for better touch targets */
  font-size: 16px;
  /* Increase font size */
}

.submitButton {
  width: 53%;
  /* Full width button */
  padding: 10px;
  background-color: #007bff;
  /* Button color */
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  /* Increase font size */
}

.signupLinks {
  margin-top: 20px;
}

.signupButtonContainer {
  display: flex;
  /* Use flexbox */
  align-items: center;
  /* Center items vertically */
  gap: 10px;
  /* Space between buttons and text */
}

.signupButton {
  background-color: #007bff;
  /* Button color */
  color: white;
  /* Text color */
  border: none;
  /* No border */
  padding: 10px 20px;
  /* Padding */
  border-radius: 5px;
  /* Rounded corners */
  cursor: pointer;
  /* Pointer on hover */
  font-size: 16px;
  /* Increase font size */
}

.signupButton:hover {
  background-color: #0056b3;
  /* Darker color on hover */
}

.bannerImage {
  width: 100%;
  /* Make the image responsive */
  height: auto;
  /* Maintain aspect ratio */
}