.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.iconTextContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.iconTextContainer>* {
  margin: 0;
}

.leftSection {
  display: flex;
  align-items: center;
}

.leftSection>* {
  margin-right: 15px;
}

.rightSection {
  display: flex;
  align-items: center;
}

.rightSection>* {
  margin-left: 15px;
}

.button,
.homeButton {
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  font-size: 16px;
  /* Aligns icon and text */
}

.homeButton span {
  margin-left: 5px;
}

/* New style for the dashboard button */
.button {
  padding: 8px 12px;
  /* Add padding for better click area */
  border-radius: 4px;
  /* Rounded corners */
  transition: background-color 0.3s ease;
  /* Smooth background transition */
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  /* Light background on hover */
  text-decoration: underline;
  /* Underline effect */
}

.homeButton:hover {
  text-decoration: none;
}

/* Add some spacing for the dashboard button */
.button+span {
  margin-left: 15px;
  /* Add space between dashboard button and welcome text */
}